<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Web Blog</title>
</head>

<body>
    <main>
    <div class="topbar">
        <a href="/">Home</a>
        <a href="/post">Create Post</a>
        <a href="/signup">Sign Up</a>
        <a href="/signin">Sign In</a>
    </div>